<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOURNEY BOOK QUESTION</title>
    <!-- META -->
    <meta name="title" content="JOURNEY BOOK">
    <meta name="description" content="description">
    <link rel="icoc" href="#ICON">
    <!-- TAILWIND OUTPUT -->
    <link rel="stylesheet" href="style/output.css">
    <script src="javascript/queryDOM.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="h-screen w-full bg-gray-950 bg-cover bg-no-repeat bg-center"
style="background-image: linear-gradient(rgba(0, 0, 0, 0.481) , #09090b) , url(images/three-friends-with-their-arms-around-sitting-top-mountain.jpg);
    box-shadow: 0rem 0rem 10rem 5rem black inset;">

    <div class=" m-auto" style="padding-top: 20vh;">
        <!-- USER FORM -->
        <form action="/user-push" method="post" name="client" itemid="client" class="text-center max-w-lg backdrop-blur-md border-teal-700 border-2 rounded-lg shadow-lg shadow-teal-700 m-auto p-10 flex flex-col form-active" id="client-form">
            <h1 class="text-4xl mb-10 text-teal-500">PROFIL ANDA</h1>
            <div class="w-full flex mb-5 border-teal-700 rounded-lg text-[#F2E7D5]" 
            style="border-width: 1px;">
                <label for="c-u" class="bg-teal-800 p-2 flex justify-center items-start w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="text-2xl"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#eeeeee}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                </label>
                <input type="text" class="w-full outline-none pl-5 bg-transparent" id="c-u" name="username" placeholder="Username" required autocomplete="on">
            </div>

            <div class="w-full flex <%= message.length != 0 ? 'mb-7' : 'mb-12' %> border-teal-700 rounded-lg text-[#F2E7D5]"
            style="border-width: 1px;">
                <label for="c-w" class="bg-teal-800 flex p-2 justify-center items-center w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="text-2xl"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#eeeeee}</style><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
                </label>
                <input type="text" class="w-full outline-none pl-5 bg-transparent" id="c-w" name="uniword" placeholder="Uniq word" required autocomplete="on">
            </div>
            <% if (message.length != 0) { %>
                <p class="text-red-500 text-left mb-4 text-sm"><%= message %> </p>
            <% } %>
                
            <button type="submit" class="bg-teal-700 text-lg py-2 rounded-lg text-[#F2E7D5] hover:bg-teal-800 button-transition">SUBMIT</button>
            <a href="/journey-book" class="block mt-3 bg-slate-300 text-lg py-2 rounded-lg text-slate-950 hover:bg-slate-400 button-transition">LANGSUNG MASUK</a>
        </form>

        <!-- ADMIN FORM  -->
        <form action="/login-admin" method="post" name="admin" class="text-center max-w-lg backdrop-blur-md border-teal-700 border-2 rounded-lg shadow-lg shadow-teal-700 m-auto p-10 flex flex-col hidden form-active" id="admin-form">
            <h1 class="text-4xl mb-10 text-teal-500">MASUK ADMIN</h1>
            <div class="w-full flex mb-5 border-teal-700 rounded-lg text-[#F2E7D5]" 
            style="border-width: 1px;">
                <label for="a-u" class="bg-teal-800 p-2 flex justify-center items-start w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="text-2xl"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#eeeeee}</style><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                </label>
                <input type="text" class="w-full outline-none pl-5 bg-transparent" id="a-u" name="username" placeholder="Username">
            </div>

            <div class="w-full flex mb-5 border-teal-700 rounded-lg text-[#F2E7D5]"
            style="border-width: 1px;">
                <label for="a-w" class="bg-teal-800 flex p-2 justify-center items-center w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="text-2xl"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#eeeeee}</style><path d="M512 240c0 114.9-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6C73.6 471.1 44.7 480 16 480c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4l0 0 0 0 0 0 0 0 .3-.3c.3-.3 .7-.7 1.3-1.4c1.1-1.2 2.8-3.1 4.9-5.7c4.1-5 9.6-12.4 15.2-21.6c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208z"/></svg>
                </label>
                <input type="text" class="w-full outline-none pl-5 bg-transparent" id="a-w" name="uniword" placeholder="Uniq word">
            </div>
            
            <div class="w-full flex items-center mb-12 border-teal-700 rounded-lg text-[#F2E7D5]" id="password-box"
            style="border-width: 1px;">
                <label for="admin-password" class="bg-teal-800 flex p-2 justify-center items-center w-fit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="text-2xl"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#eeeeee}</style><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>        
                </label>
                <input type="password" class="w-full outline-none pl-5 bg-transparent" name="password" placeholder="password" id="admin-password">
                <i class="fa-regular fa-eye-slash mr-2 cursor-pointer" style="color: #eeeeee;" id="eye-icon"></i>
            </div>
    <script>
        $('#eye-icon').on('click' , function (e) {
            const element = $("#admin-password")
            const nodeType = element.type;
            switch(nodeType) {
                case 'password' : {
                    element.type = 'text'
                } break;
                default : {
                    element.type = 'password';
                } break;
            }
            $('#eye-icon').toggle('fa-eye-slash')
            $('#eye-icon').toggle('fa-eye')
        })
    </script>
            
            <button type="submit" class="bg-teal-700 text-lg py-2 rounded-lg text-[#F2E7D5] hover:bg-teal-800 button-transition">SUBMIT</button>
            <button type="reset" value="reset" class="block mt-3 bg-slate-300 text-lg py-2 rounded-lg text-slate-950 hover:bg-slate-400 button-transition" id="button-user-form-show">MASUK USER</button>
        </form>
    
    </div>

    <div class="fixed" style="z-index: 99999; top: 30px; left: 30px;">
        <div class="block">
            <button class="p-3 bg-teal-700 rounded-xl button-transition" id="button-menu-bars">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="text-2xl">
                    <style>svg{fill:#eeeeee}</style>
                    <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                </svg>
            </button>
            <ul class="flex-col mt-2 bg-teal-700 rounded-xl overflow-hidden navbar-nonactive hidden" id="navigation-bar">
                <li class="text-[#F2E7D5]">
                    <a href="/" class="flex items-center w-full py-3 pl-4 pr-14 text-lg bg-teal-700 hover:bg-teal-800">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="mr-2 block">
                            <style>svg{fill:#eeeeee}</style>
                            <path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z"/>
                        </svg>
                        KELUAR
                    </a>
                </li>
                <li class="text-[#F2E7D5]">
                    <button class="flex items-center w-full py-3 pl-4 pr-14 text-lg bg-teal-700 hover:bg-teal-800" id="admin-button">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512" class="mr-2 block">
                            <style>svg{fill:#eeeeee}</style>
                            <path d="M512 80c8.8 0 16 7.2 16 16V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H512zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM208 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16H304c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80H176zM376 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24h80c13.3 0 24-10.7 24-24s-10.7-24-24-24H376z"/>
                        </svg>
                        ADMIN
                    </button>
                </li>
                <li class="text-[#F2E7D5]">
                    <a href="" class="flex items-center w-full py-3 pl-4 pr-14 text-lg bg-teal-700 hover:bg-teal-800">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="mr-2 block">
                            <style>svg{fill:#eeeeee}</style>
                            <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                        </svg>
                        BANTUAN
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script>
    var readyClick = true;

    function operateFunction () {
        const navigationBar = $('#navigation-bar');
        const arrayClass = [...navigationBar.classList];

        if (arrayClass.includes('hidden')) {
            navigationBar.remove('navbar-nonactive');
            navigationBar.remove('hidden');
            navigationBar.add('flex');
            navigationBar.add('navbar-active');
            setTimeout(function () {
                readyClick = true;
            } , 300);
        } else {
            navigationBar.remove('navbar-active');
            navigationBar.add('navbar-nonactive');
            setTimeout(function () {
                navigationBar.add('hidden');
                navigationBar.remove('flex');
                readyClick = true;
            } , 300);
        };
    };
    $('#button-menu-bars').on('click' , function () {
        if (readyClick) {
            readyClick = false;
            $('#button-menu-bars').toggle('pr-36');
            operateFunction();
        };
    });
    $('#admin-button').on('click' , function () {
        const classList = [...$('#admin-form').classList];
        if (classList.includes('hidden')) {
            $('#client-form').add('hidden');
            $('#admin-form').remove('hidden');
        } else {
            $('#admin-form').add('hidden');
            setTimeout(function () {
                $('#admin-form').remove('hidden');
            } , 10)
        }
    })
    $('#button-user-form-show').on('click' , function () {
        $('#admin-form').add('hidden');
        $('#client-form').remove('hidden');
    })
    </script>
</body>
</html>